* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 80vh;
    position: relative;
    padding-bottom: 10%;
}

.menu {
    overflow: hidden;
    background-color: black;
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 14px;
    font-size: 20px;
}

.activa {
    background-color: gray !important;
}

.menu a:hover {
    background-color: red;
}

.menu .icon {
    display: none;
}

@media only screen and (max-width:600px){
    .menu a {
        display: none;
    }
    .menu .icon {
        display: block;
    }
}

@media only screen and (max-width:600px){
    .menu.responsive {
        position: relative;
    }
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.contenido p, ul{
    font-size: 25px;
    text-align: justify;
    margin-top: 2%;
    margin-left: 5%;
}

.contenido .bienvenida{
    font-size: 40px;
    margin-top: 1%;
    text-align: center;
}

.contenido .contacto {
    padding: 3%;
    width: 35vw;
}

fieldset .formulario {
    margin-left: 2%;
}

.contenido #CKCL {
    margin-left: 27%;
}

.imagenes #CKCL {
    position: absolute;
    top: 13%;
    margin-left: 5%;
}

.contenido #CMK {
    margin-left: 36%;
}

.imagenes #CMK {
    position: absolute;
    top: 39%;
    margin-left: 0;
}

.contenido #CEK {
    margin-left: 44%;
}

.imagenes #CEK {
    position: absolute;
    bottom: 15%;
    margin-left: 3%;
}

.footer {
    width: 100%;
    height: 7%;
    color: black;
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    padding-top: 2%;
    text-align: center;
}