*{
    margin: 0;
    padding: 0;
}

h1 {
    overflow: hidden;
    background-color: black;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 10px;
}

p {
    font-size: 25px;
}